# Copy this file to a new file named '.env' inside this same directory, and fill in details
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=luckysharma7578@gmail.com
SMTP_PASSWORD=wrfw dnvn iqoc sgfm
RECIPIENT_EMAIL=luckysharma7578@gmail.com